
/* 
    Document   : fgc.admin
    Created on : Apr 14, 2011, 10:24:55 PM
    Author     : AdminFGC
    Description:
        Purpose of the stylesheet follows.
*/
*{
    padding: 0;
    margin: 0;
    outline: none;
}
#wrapper{
    margin-right: 15px;
    width: 100%;
}
#top{
    border: 1px solid #BCCBD8;
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    float: left;
    width: 95%;
    margin-bottom: 15px;
    margin-top:15px;
    padding-left:10px;
    padding-right:10px;
}
#top .top_right{
    float: right;
}
#top .top_left{
    float: left;
    font-size:25px;
    padding-top:8px;
}
#top .top_right a{
    padding-left:10px;
    text-decoration: none;
}
.show_login_form #fgc_content{
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #BCCBD8;
    padding-bottom:40px;
    padding-top:40px;
    width:95%;
    float: left;
    margin-bottom: 140px;
    margin-top: 140px;
}
#fgc_content{
    -moz-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #BCCBD8;
    padding:10px;
    width:95%;
    float: left;
    margin-bottom:10px;
}
#fgc_content .list_table{
    background-color:#E7E7E7;
    border-spacing:1px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
}
#fgc_content .list_table td{
    text-align: center;
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
}
#fgc_content .list_table td a{
    text-decoration: none;
}
#fgc_content .list_table td a:hover{
    text-decoration: underline;
}
.icon-32-cancel {
    background-image:url(../images/cancel.png);
}
.icon-32-delete {
    background-image:url(../images/delete.png);
}
.icon-32-new {
    background-image:url(../images/icon-32-new.png);
}
.icon-32-edit {
    background-image:url(../images/edit.png);
}
.icon-32-save {
    background-image:url(../images/save.png);
}
table.toolbar td {
    color:#666666;
    height:48px;
    padding:1px 1px 1px 4px;
    text-align:center;
}
table.toolbar a {
    border:1px solid #FBFBFB;
    cursor:pointer;
    display:block;
    float:left;
    padding:1px 5px;
    white-space:nowrap;
}
table.toolbar span {
    display:block;
    float:none;
    height:32px;
    margin:0 auto;
    width:32px;
}
.show_login_form{
    margin:0 auto;
    width:50%;
}
.welcome .logout{
    padding-right: 30px;
    text-decoration:none;
}
form#frm_user_edit div .radio_block_user input {
    width: 50px;
}
.show_login_form #fgc_content #frm_user_edit div input{
    width: 150px;
}
.show_login_form #frm_user_edit div label{
    float: none;
    padding-right:10px;
}
form#frm_user_edit div #fgc_airline{
    width: 300px;
}
#select_airline{
    width: 250px;
}
#select_type{
    width: 250px;
}
#select_user{
    width: 250px;
}
form#frm_user_edit div .fgc_config{
    float: left;
    font-size:15px;
    width:240px;
    padding-left:15px;
}
form#frm_user_edit div #fgc_config{
    width: 100px;
}
form#frm_user_edit div #fgc_config_email{
    width: 250px;
}
.message_manager{
    color: #EEAAAA;
    display: block;
    font-size: 14px;
    font-style: italic;
    text-align: left;
}
.list_table #fgc_block img{
    border: none;
    cursor: pointer;
}
.message_login{
    color:red;
    font-style:italic;
    font-weight:inherit;
    text-align:center;
}
#config-page-site{
    margin-top: 10px;
    border-top: 1px solid #75A5D7;
}
.config_site{
    font-weight: bold;
}
.config_paypal{
    font-weight: bold;
}
form#frm_user_edit #config-page-site div input{
    width: 100px;
}
form#frm_user_edit #config-page-site div input#email_site{
    width: 250px;
}
.paging_record_item a{
    border :1px solid #DDDDDB;
    font-size:13px;
    padding-bottom:2px;
    padding-left:3px;
    padding-right:3px;
}
.paging_record_item  a.selected {
    background-color:#0063B9;
    border:2px solid #DDDDDB;
    color:#FFFFFF;
    font-weight:bold;
    margin:0 1px 0 0;
    padding-bottom:1px;
    padding-left:2px;
    padding-right:2px;
}
a {
    color:#5388E5;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    text-align:left;
    text-decoration:none;
}
.paging_record_item a:hover{
    /*    border: 1px solid #1D5B80;*/
    text-decoration:underline;
}
.paging_data{
    float: none;
    clear: both;
    padding: 5px;
}
form#frm_user_edit div fieldset{
    clear: both;
    float: none;
}
.block_user{
    float: left;
}
form#frm_user_edit div .radio_block_user{
    padding: 2px;
}
form#frm_user_edit div .radio_published{
    padding: 2px;
}
form#frm_user_edit div .editor{
    clear: both;
    float: none;
}
form#frm_user_edit div .value_time_config{
    float: left;
    padding: 0;
    padding-right: 10px;
}
#select_option_time{
    width: 40px;
}
.select_end_time{
    width: 40px;
}
#select_choice{
    width: 145px;
}
.set_time_view label{
    float:left;
    padding-right:20px;
    text-align:right;
    width:237px;
}
.set_time_view input[name=time_view_answer]{
    width: 100px !important;
}
.set_time_view input[name=time_submit]{
    width: 100px !important;
}
#frm_game_edit div{
    padding: 5px;
    float: left;
    width:48%;
}
#frm_game_edit{
    margin:0 auto;
}
#frm_game_edit div label{
    float:left;
    margin:0;
    padding:0;
    text-align:right;
    width:120px;
}
#frm_game_edit div input[type=radio]{
    width: 50px;
}
.select_flash{
    width: 120px;
    margin-left:-25px;
}
#option_position{
    margin-left:-50px;
}
.set_time_view input{
    width: 90px !important;
}
#frm_game_edit .flash_left{
    /*    margin-left:50px;*/
    width:95%;
}
#frm_game_edit .flash_right{
    margin-left:28px;
    width:95%;
}
#frm_game_edit .flash_left div,
#frm_game_edit .flash_right div{
    float: none;
    text-align: left;
    width:88%;
    padding-left:20px;
    height:26px;
}
#frm_game_edit .flash_left div label,
#frm_game_edit .flash_right div label{
    float: none;
}
#frm_game_edit .flash_left input[type=text],
#frm_game_edit .flash_right input[type=text]{
    width: 40px;
}
#frm_game_edit .flash_left div label.timeout,
#frm_game_edit .flash_right div label.timeout{
    padding-left:0px;
}
#frm_game_edit .flash_left div label.order,
#frm_game_edit .flash_right div label.order{
    padding-left:5px;
}
#frm_game_edit .flash_left div #id_left_order,
#frm_game_edit .flash_right div #id_right_order{
    width:90px;
}
#frm_game_edit .radio_game{
    width:160px;
    padding:0;
}
#frm_game_edit .flash_left .right_side{
    float: right;
    width:100%;
    padding: 0;
}
#frm_game_edit .flash_left .left_side{
    float:left;
    padding-left:0;
    width:97px;
    width:124px;
}
#frm_game_edit .flash_right .right_side{
    float: right;
    width:100%;
    padding: 0;
}
#frm_game_edit .flash_right .left_side{
    float:left;
    padding-left:0;
    width:97px;
    width:124px;
}
.position{
    font-weight: bold;
}
.left{
    border:1px solid black;
    height:60px !important;
    margin: 0 7px 7px 7px;
}
.right{
    border:1px solid black;
    height:60px !important;
    margin: 0 7px 7px 7px;
}
.radio_question_game{
    padding: 0 !important;
    margin-left: 20px;
}
.radio_question_game input{
    width: 50px !important;
}
#number{
    width: 162px !important;
}
.editor img{
    width: 300px;
    height: 250px;
}