/* 
    Created on : Aug 14, 2015, 2:24:50 PM
    Author     : Tran Trong Thang
    Email      : trantrongthang1207@gmail.com
*/

.clearfix{
    clear: both;
    float: none;
}
form#frm_user_edit div .lab_user{
    width: 100%;
}
#dragnumber div {
    display: inline-block;
    padding: 0;
}
#dragnumber div.no-ui-droppable,
#dragnumber div.ui-droppable{
    background: #ccc;
    border: 1px solid #cccccc;
    display: inline-block;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    margin: 0 0 0 10px;
    /*padding: 0 10px;*/
    text-align: center;
    vertical-align: middle;
    /*width: 30px;*/
}
#dragnumber div .input_question_content {
    border: 2px solid #428bca;
    box-sizing: border-box;
    font-size: 25px;
    height: 37px;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
    vertical-align: bottom;
    width: 55px;
}
#dragnumber div.no-ui-droppable{
    background: #fff;
    padding: 0 10px;
}
#dragnumber div.no-ui-droppable input{
    margin: 0 -10px;
}
form#frm_user_edit div div.no-ui-droppable input{
    height: 38px;
    /*margin: 0 -10px;*/
    width: 48px;
    text-align: center;
}
#dragnumber div.no-ui-droppable, #dragnumber div.ui-droppable:first-child{
    margin: 0;
}
#operations{
    font-size: 24px;
    height: 38px;
    width: 55px;
}
select.operations{
    font-size: 24px;
    height: 38px;
    /*margin: 0 -10px;*/
    text-align: center;
    vertical-align: top;
}
.ui-droppable.tv-drop{
    position: relative;
}
span.tvdelete,
.ui-droppable.tv-drop span{
    background: url('../images/delete.png') no-repeat;
    background-size: contain;
    height: 20px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 20px;
}
input.right_answer{
    margin: 0 10px;
}
.practice_section .listanswers li{
    position: relative;
}
span.tvdelete{
    left: 260px;
}