*{margin: 0px; padding: 0px;}

.odd {

    background:none repeat scroll 0 0 #ffffff;

}

.even {

    background:none repeat scroll 0 0 #eff8ff;

}



ul.menu {

    list-style: none;

}

body{ text-align: center;}

.menu li, .menu a {

    color: #5388E5;

    text-decoration: none;

    font-weight: bold;

    list-style: none;

    text-align: left;

}

.menu a:hover {

    text-decoration: underline;

}

.menu li.parent {

    font-weight: bold;

}



#rwapper {

    margin: 0px auto;

    width: 100%;

    overflow: hidden;

    margin-top: 20px;

    position: relative;

}

#rwapper h1#title {



    color:#3E81B6;

    font-size:20px;

    line-height:55px;

    text-align:center;

    height: 55px;

    width: auto;

}

div#banner {

    -moz-border-radius:10px 10px 0 0;

    background:none repeat scroll 0 0 #F5F5F8;

    border:1px solid #BCCBD8;





}

div#banner p.welcome {

    text-align: right;

    font-size: 14px;

    font-style: italic;

    height: 35px;

    line-height: 35px;

}

div#banner p.welcome span {

    padding-right: 10px;

}



#rwapper div.main_body {

    margin:5px auto;

    width: 99.5%;

    height: 100%;

    overflow: hidden;

    /*    background: url(../images/bg_inner.png) repeat-y center center;*/

    background:#F5F5F8 none repeat scroll 0 0;

    border: 1px solid #bccbd8;

    padding: 1px;

    min-height: 300px;

}



#rwapper div.main_body div#left {

    -moz-border-radius:5px 5px 0 0;

    float:left;

    min-height: 350px;

    width: 22.5%;

    border-bottom: none;

    border-left: 1px solid #BCCBD8;

}

#rwapper div#right {

    background:#F5F5F8;

    -moz-border-radius:5px 5px 0 0;

    float:right;

    min-height: 300px;

    width:76%;

    padding-bottom: 50px;

    border-bottom: none;

    border-left:1px solid #BCCBD8;

    padding-left: 8.5px;

}

#rwapper div#right #main{

    color:#4B6868;



}

#rwapper div#conner_left {

    position: absolute;

    top: -2px;

    left: -2px;

    width: 38px;

    height: 23px;

    background: url(../images/conner_left.png) center center no-repeat;

}

#rwapper div#conner_right {

    position: absolute;

    top: -2px;

    right: -2px;

    width: 38px;

    height: 23px;

    background: url(../images/conner_right.png) center center no-repeat;

}

#rwapper div#left div#title_menu div#conner_left {

    position: absolute;

    z-index: 1;

    top: -1.5px;

    left: -2.5px;

    width: 26px;

    height: 18px;

    background: url(../images/conner_title_left.png) center center no-repeat;

}

#rwapper div#left div#title_menu div#conner_right {

    position: absolute;

    z-index: 1;

    top: -1.5px;

    right: -1.5px;

    width: 26px;

    height: 18px;

    background: url(../images/conner_title_right.png) center center no-repeat;

}

#rwapper div#left div#title_menu {

    position: relative;

    z-index: 2;

}

#rwapper div#left h2 {

    -moz-border-radius:5px 5px 0 0;

    border-radius:5px 5px 0 0;

    background:none repeat scroll 0 0 #75A5D7;

    color:#FFFFFF;

    font-size:20px;

    height:32px;

    line-height:32px;

    text-align:center;

}

#rwapper div#left ul {

    padding: 0px 5px 0px 10px;



}

#rwapper div#left ul li {

    background: url(../images/row.gif)  left 9px no-repeat;

    display:block;

    line-height:26px;

    padding:0 0 0 20px;

    width:auto;

}

#rwapper div#left ul ul {

    padding: 0px;



}

/*********************************************/

/*user*/

#rwapper div#right form#frm_user_edit{

    padding-left: 50px;

    text-align: left;

}

#frm_user_edit .frm_user_edit_content{

    border: 1px solid #999;

}

form#frm_user div,#frm_user_edit div {

    width: auto;

    line-height: 23px;

}

form#frm_user_edit div .lab_user {

    width: 115px;

    float: left;

}

form#frm_user div,#frm_user_edit div,#frm_customer div{

    padding: 5px;

}

form#frm_user_edit div input{

    width: 200px;

}

form#frm_user_edit div .radio_published input{

    width: 50px;

}

#frm_user_edit div input[type="checkbox"]{

    width: 10px;

}

#footer {

    clear: both;

    background:#F5F5F8;

    border:1px solid #BCCBD8;  

    padding: 10px 0;

    text-align:center;

    color: #888;

}

.question_type, .management_test,

.mathematics_test, .series_test,

.reasoning_test, .pattern_test,

.test_text, .aviation_english{

    display: none;

}

/*.pattern_test{

    display: none;

}*/

ul.menu{

    border-right: 1px solid #BCCBD8;

    margin-right: -6px;

    padding-bottom: 20px !important;

}

.tb_content_question, .tb_content_answer{

    margin-bottom: 10px;

    width: 100%;

}

#fgc_content .tb_content_question, .tb_content_answer{

    background-color:#E7E7E7;

    border-spacing:1px;

    width: 100%;

    text-align: center;

    border-bottom: 1px solid #FFFFFF;

    border-right: 2px solid #FFFFFF;

}

#fgc_content .tb_content_question td, .tb_content_answer td{

    text-align: center;

    border-left: 1px solid #FFFFFF;

    border-top: 1px solid #FFFFFF;

}

#fgc_content .tb_content_question td a{

    text-decoration: none;

}

#fgc_content .tb_content_question td a:hover{

    text-decoration: underline;

}

.tb_content_question textarea{

    height: 50px;

    margin-top: 3px;

    overflow: hidden;

    width: 370px;

}

.img_question{

    width: 80px;

    height: 80px;

}

.img_answer{

    height: 115px;

    width: 150px;

    border: medium none;

}

#rwapper div#right form#frm_user_edit.form_config_time{

    padding-left: 0;

}

#rwapper div#right form#frm_user_edit.form_config_time label{

    width: 310px;

}

.answer_choice{

    width: 546px;

}


/*
* 08 July 2014
*/
.actionmenu .ul_testsection,
.actionmenu .ul_iqtest,
.actionmenu .ul_testscore,
.actionmenu .ul_math{
    display: block;
}
.listanswers li{
    list-style: none;
}
.practice_section .listanswers li {
    margin: 10px 0 10px 50px;
}
.practice_section form#frm_user_edit .listanswers li input[type=radio]{
    width: 30px;
}
.ul_testsection,
.ul_iqtest,
.ul_testscore,
.ul_math{
    display: none;
}
form#frm_user_edit div .listposition input{
    width: 30px;
}