/* 
 Created on : Aug 13, 2015, 4:24:34 PM
 Author     : Tran Trong Thang
 Email      : trantrongthang1207@gmail.com
 Skype      : trantrongthang1207
*/
/* Main content area */

.content_submit {
    /*margin: 80px 70px;*/
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* Header/footer boxes */

.wideBox {
    clear: both;
    text-align: center;
    margin: 70px;
    padding: 10px;
    background: #ebedf2;
    border: 1px solid #333;
}

.wideBox h1 {
    font-weight: bold;
    margin: 20px;
    color: #666;
    font-size: 1.5em;
}

/* Slots for final card positions */
#dragnumber, 
#draglistnumber {
    margin: 30px auto 0 auto;
    padding: 20px 0;
}
#dragnumber,
#draglistnumber{
    height: 55px;
    /*width: 70%;*/
}

/* Individual cards and slots */
#dragnumber div{
    background: #ccc;
    border: 1px solid #cccccc;
    display: inline-block;
    font-size: 26px;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0 10px;
    width: 25px;
}
#dragnumber div.no-ui-droppable{
    background: #fff;
}
#draglistnumber div {
    border: 1px solid #ccc;
    display: inline-block;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0 10px;
    position: relative;
    width: 25px;
}
#draglistnumber > div:before{
    position: absolute;
    font-size: 30px;
    left: 40%;
}

#draglistnumber div:first-child {
    margin-left: 0;
}

#draglistnumber div.ui-droppable.hovered {
    background: #aaa;
}

#draglistnumber div.ui-draggable {
    border: 1px solid #ccc;
    color: #000;
    font-size: 30px;
    left: -12px;
    top: 0;
}

#draglistnumber div.ui-draggable-dragging {
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #ccc;
}
#dragnumber div:hover,
#draglistnumber div:hover{
    cursor: pointer;
}
/* "You did it!" message */
#successMessage {
    position: absolute;
    left: 580px;
    top: 250px;
    width: 0;
    height: 0;
    z-index: 100;
    background: #dfd;
    border: 2px solid #333;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
    padding: 20px;
}
.fgccontent_question #dragnumber{
    margin: 0 auto;
    padding: 0;
}