/* 
    Document   : fgcstyle
    Created on : Jan 10, 2013, 8:54:40 AM
    Author     : Tran Trong Thang
    Email      : trantrongthang1207@gmail.com
    Description:
        
*/
a, img{
    outline: medium none;
}
#fade {
    display: none;
    height: 100%;
    left: 0;
    background: #D9D9D9;
    opacity:0.9;
    filter:alpha(opacity:90);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.fade {
    display: none;
    height: 100%;
    left: 0;
    background: #D9D9D9;
    opacity:0.8;
    filter:alpha(opacity:80);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#wrapper_question{
    border:1px solid #E5E5E5;
    min-height: 700px;
    margin:0;
    padding:20px 0 30px;
    position:relative;
    width:100%;
}
#wrapper_game{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
#wrapper_question .content_question{
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    opacity:0.9;
    filter:alpha(opacity:90);
    width: 100%;
    height: 100%;
}
.content_game_type_question{
    /*        display: none;*/
}
.content_game_type_answer{
    display: none;
}
#wrapper_question .content_answer{
    display: none;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    opacity:0.9;
    filter:alpha(opacity:90);
    width: 100%;
    height: 100%;
}
#wrapper #left_lamp{
    width: 20%;
    float: left;
}
#wrapper #center{

    width: 58%;
    float: left;
}
#center #center_top{
    padding-bottom:20px;
    text-align:center;
    width:100%;
}
#center_body{
    border: 10px solid black;
    margin: 0 auto;
    width: 40%;
    padding: 40px;
    padding-bottom: 20px;
}
#center_body div{
    font-size:2em;
    font-weight:bold;
    margin:0 auto;
    padding-bottom:20px;
    width: 65%;
}
#form_answer div{
    width: 82%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-weight:bold;
}
#form_answer div input{
    width:140px;
}
#center #center_bottom{
    padding-top:40px;
    text-align:center;
}
#center_bottom img{
    border:medium none;
}
.key_top{
    background: url("theme/top.png") no-repeat center;
    height:34px;
}
.key_left{
    background: url("theme/left.png") no-repeat;
    float:left;
    height:34px;
    width:38px;
}
.key_center{
    background: url("theme/bottom.png") no-repeat;
    float:left;
    height:34px;
    width:38px;
}
.key_right{
    background: url("theme/right.png") no-repeat;
    float:left;
    height:34px;
    width:38px;
}
.title{
    float:left;
    margin-right:45px;
    text-align:right;
    width:110px;
}
#wrapper #right_lamp{
    width: 20%;
    float: right;
    text-decoration: blink;
    color: red;
}
#center_bottom_bottom{
    padding-left: 212px;
}
#wrapper #right_lamp a{
    background: url("theme/right.png") no-repeat;
    height:34px;
    width:38px;
    display:block;
}
#start_game{
    background:transparent url(theme/Button.png) no-repeat scroll center 0;
    font-size:20px;
    height:30px;
    margin-top:20px;
    text-align:center;
    text-decoration:blink;
}
.title_game{
    font-size:20px;
    font-weight:bold;
    padding-bottom:20px;
    text-align:center;
    width:100%;
}
.result{
    font-size:19px;
    margin:0 auto;
    padding-bottom:10px;
    text-align:center;
    width:100%;
}
#center #center_body{
    width: 70%;
}
.submit_answer{
    background: url(theme/Button.png) repeat scroll 0 0;
    border:medium none;
    height:28px;
    width:77px;
    margin-left:155px;
}
.logo_game {
    /*    background:transparent url(theme/logo_game.jpg) repeat scroll center center;
        border:medium none;
        height:118px;
        overflow:hidden;
        width:261px;
        border-width:1px;
        margin:5px 10px 15px 0;
        padding:3px;
        border-color:#000000;
        border-style:solid;*/
    padding-bottom:10px;
}
.logo_game img{
    /*    height:118px;*/
    overflow:hidden;
    width:405px;
    border-width:1px;
    /*    margin:5px 10px 15px 0;*/
    /*    padding:3px;*/
    border-color:#000000;
    border-style:solid;
}
#start_body{
    margin:0 auto;
    /*    width:50%;*/
    text-align: center;
}
#start_body span{
    font-size:1.7em;
}
.repeat_game{
    background:transparent url(theme/button_answeer.png) no-repeat scroll center center;
    text-decoration:blink;
    float:left;
    height:28px;
    line-height:2em;
    text-align:center;
    text-decoration:blink;
    width:120px;
    margin-left:320px;
    padding-top:5px;
}
.exit_game{
    background:transparent url(theme/button_answeer.png) no-repeat scroll center center;
    text-decoration:blink;
    float:left;
    height:28px;
    line-height:2em;
    text-align:center;
    text-decoration:blink;
    width:120px;
    margin-left:50px;
    padding-top:5px;
}
.conent_game_report{
    margin:0 auto;
    text-align:justify;
    width:76%;
    font-size:1.3em;
}
.conent_game_task{
    margin:0 auto;
    text-align:justify;
    width:80%;
    font-size:1.3em;
}
.conent_game_report p{
    padding-bottom: 15px;
    color:black;
    line-height:140%;
}
.both_one{
    font-weight:bold;
    text-align:center;
    padding: 0 !important;
    color:black;
    font-size:1.1em;
}
.italic_one{
    font-style:italic;
    text-align:center;
}
.both_one_top{
    font-size:1.3em;
    font-weight:bold;
    text-align:center;
    padding-bottom: 10px !important;
    color:black;
}
.game_key{
    margin-left:40px;
}
/*****************Game 2******************/
#cal{
    background:url(theme/cal2.png) no-repeat scroll right 40px;
    float:right;
    height:495px;
    margin-top:30px;
    position:relative;
    width:500px;
}
#cal form{
    float:right;
    height:465px;
    position:relative;
    width:500px;
}
#tb_number {
    height:113px;
    left:270px;
    position:absolute;
    top:278px;
    width:81px;
}
#tb_number .btn{
    background: url(theme/bg_btn.png) no-repeat;
    color:white;
    cursor:pointer;
    float:left;
    font-size:11px;
    font-weight:bold;
    height:19px;
    margin-bottom:2px;
    margin-left:5px;
    padding-top:2px;
    text-align:center;
    width:20px;
}
#tb_letters{
    height:155px;
    left:344px;
    position:absolute;
    top:235px;
    width:155px;
}
#tb_letters .btn_letters{
    background: url(theme/bg_letters.png) no-repeat;
    color:white;
    cursor:pointer;
    float:left;
    font-size:8px;
    font-weight:bold;
    height:20px;
    margin-bottom:1px;
    margin-left:5px;
    padding-top:3px;
    text-align:center;
    width:21px;
}
.text{
    float:left;
    margin-left:95px;
    margin-top:-114px;
    width:95px;
}

#top{
    width: 100%;
    height: 100px;
}
#top .left{
    width: 100px;
    height: 100px;
    background: black;
    float: left;
}
#top .right{
    width: 100px;
    height: 100px;
    background: black;
    float: left;
}
#top .center{
    width:75%;
    height: 100px;
    background: #7F7F7F;
    float: left;
    margin: 0 10px 0 10px;
}
.tb_left_right{
    color: white;
    height:100px;
    width:100%;
    text-align: center;
    padding:3px;
}
.tb_left_right td{
    /*    background: white;*/
}
#left_side{
    background: #7F7F7F;
    width: 300px;
    height: 200px;
    float: left;
    margin-top:250px;
}
#left_side h3{
    margin-top:-20px;
    padding-bottom:10px;
    padding-left:20px;
}
#left_side .title1{
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-left:40px;
    margin-right:56px;
}
#left_side .row .text1 input{
    background: black;
    color:black;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    width:75px;
    float:right;
    margin-right:37px;
}
.row{
    margin-top:24px;
}
#button{
    margin-left:473px;
    margin-top:310px;
}
#next{
    background:  url(theme/btn_next.png);
    border:medium none;
    height:47px;
    left:30px;
    position:absolute;
    top:300px;
    width:74px;
}
.content_game_type_question .inner{
    left:0;
    padding:15px;
    position:absolute;
    top:0;
    width:97%;
}
#list input{
    text-align: center;
    color: white;
    background: black;
    font-weight: bold;
    margin-left:18px;
    float: left;
}
#list .title{
    float:left;
    text-align:right;
    width:55px;
    margin:0 0 0 10px;
}
#cal .info_cal{
    float:right;
    width:221px;
}
.pos_1 .pos_1{
    background: red;
}
.pos_2 .pos_2{
    background: red;
}
.pos_3 .pos_3{
    background: red;
}
.pos_4 .pos_4{
    background: red;
}
.pos_5 .pos_5{
    background: red;
}
.pos_6 .pos_6{
    background: red;
}
.pos_7 .pos_7{
    background: red;
}
.pos_8 .pos_8{
    background: red;
}
.pos_9 .pos_9{
    background: red;
}

#text{
    height:160px;
    margin-left:270px;
    width:103px;
    margin-top:39px;
    position:absolute;
}

#text1{
    width:95px;
}
#text2{
    width:95px;
}
#text3{
    width:95px;
}
#text4{
    width:95px;
}
#list{
    color:white;
    float:left;
    width:245px;
    font-weight: bold;
}
#list .list_1{
    cursor:pointer;
    padding:50px 0 0 0;
    float:left;
    width:245px;
}
#list div{
    height:30px;
}
#list .list_2{
    cursor:pointer;
    padding: 0;
    margin: 0;
    float:left;
    width:245px;
}
#list .list_3{
    cursor:pointer;
    padding: 0;
    margin: 0;
    float:left;
    width:245px;
}
#list .list_4{
    cursor:pointer;
    padding: 0;
    margin: 0;
    float:left;
    width:245px;
}
#top{
    width: 100%;
    height: 100px;
}
#list .list_2 .title{

}
#list .list_3 .title{
}
#list .list_4 .title{
}
.tb_left_right{
    color: white;
    height:100px;
    width:100%;
    text-align: center;
    padding:3px;
}
.tb_left_right td{
    /*    background: red;*/
}
#button_left{
    float:left;
    height:210px;
    width:20px;
    padding-left: 2px;
}
#button_left #list_btn1{
    padding-top: 71px;
    cursor:pointer;
}
#list_btn1{
    float: left;
    padding-top:2px;
}
#list_btn2{
    float: left;
    cursor:pointer;
}
#list_btn3{
    float: left;
    cursor:pointer;
}
#list_btn4{
    float: left;
    cursor:pointer;
}
#button_right{
    height:210px;
    width:25px;
    float: right;
}
#list_right_btn1{
    margin-left:30px;
    padding-top:4px;
    cursor:pointer;
    float: left;
}
#list_right_btn2{
    margin-left:30px;
    cursor:pointer;
    float: left;
}
#list_right_btn3{
    margin-left:30px;
    cursor:pointer;
    float: left;
}
#list_right_btn4{
    margin-left:30px;
    cursor:pointer;
    float: left;
}
#wrapper_top{
    float:left;
    height:211px;
    margin-left:255px;
    width:250px;
}
#fade {
    display: none;
    height:1300px;
    left: 0;
    background: #000000;
    opacity:0.8;
    filter:alpha(opacity:90);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.upload_lighbox_image{
    background: none repeat scroll 0 0 white;
    display: none;
    font-size: 1.2em;
    padding: 0px;
    position: absolute;
    z-index: 99999;
}
.result_round{
    padding-bottom:10px;
    padding-top:10px;
}
.minutes_seconds{
    font-size:16px;
    font-style:italic;
}
.st_st{
    padding-right: 5px;
}
/*game 3*/
#form_answer div .title_question{
    width:100%;
    padding: 0;
}
.question_answer > div{
    padding-bottom: 40px;
}
.question_answer div input {
    width:350px;
}
.submit_answer {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(theme/Button_new.png) repeat scroll 0 0;
    border:medium none;
    height:28px;
    margin-left:130px;
    width:120px;
}
.pre_next{
    margin:0 auto;
    overflow:hidden;
    padding-top:40px;
    width:90%;
}
.pre_next .pre,
.pre_next .pre_math{
    float: left;
    cursor: pointer;
}
.pre_next .next,
.pre_next .next_math{
    float: right;
    padding-right:10px;
    cursor: pointer;
}
.pre_next .next_math input{
    background:white none repeat scroll 0 0;
    border:medium none;
    font-size:12px;
    font-weight:bold;
    color: gray;
    cursor: pointer;
}
.pre_next .pre a,
.pre_next .pre_math a,
.pre_next .next a,
.pre_next .next_math a{
    color: gray;
    font-weight: bold;
    cursor: pointer;
}
.content_game_math_answer{
    margin:0 auto;
    width:50%;
}
.content_game_math_question{
    margin:0 auto;
    width: 40%;
    padding-top:50px;
}
.content_game_reasoning_question{
    margin:0 auto;
    width: 50%;
    padding-top:50px;
}
.content_game_math_question .content_submit .repeat_game{
    margin-left: 60px;
}
#view_string_time {
    border:none;
    font-size:14pt;
    font-weight:bold;
    width:60px;
    color: black;
}
.timeout_game{
    margin: 0 auto;
    padding-bottom:40px;
    width: 25%;

}
.timeout_game_slalom{
    left: 124px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 250px;
}
#sec{
    color:gray;
    font-family:icon;
    font-size:16px;
    font-style:italic;
    padding-left:5px;
}
.discription_question{
    display: none;
}
.red{
    color:red;
    font-size:20px;
}
.title_game_math .numone{
    padding-right:5px;
}
.title_game_math .numtwo{
    padding-right:10px;
}
.title_game_math{
    color:gray;
    font-size:20px;
    padding-bottom:40px;
    text-align:center;
    width:100%;
}
.title_game_math input{
    border:medium none;
    font-size:25px;
    width:30px;
    font-weight: bold;
}
/*game 4*/
#game_slalom{
    width: 300px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#content_game_slalom{
    height: 300px;
}
.spuare{
    height: 70px;
}
#content_game_slalom > .inner_content_game{
    position: absolute;
    left: 0;
    position: relative;
    top: -16478px;
}
#game_aircraft{

}
.aircraft img{
    position: relative;
    left: 145px;
}
.r_20{
    left: 180px;
    position: relative;
}
.r_19{
    left: 155px;
    position: relative;
}
.r_18{
    left: 125px;
    position: relative;
}
.r_17{
    left: 95px;
    position: relative;
}
.r_16{
    left: 80px;
    position: relative;
}
.r_15{
    left: 100px;
    position: relative;
}
.r_14{
    left: 120px;
    position: relative;
}
.r_13{
    left: 140px;
    position: relative;
}
.r_12{
    left: 160px;
    position: relative;
}
.r_11{
    left: 180px;
    position: relative;
}
.r_10{
    left: 160px;
    position: relative;
}
.r_9{
    left: 140px;
    position: relative;
}
.r_8{
    left: 120px;
    position: relative;
}
.r_7{
    left: 100px;
    position: relative;
}
.r_6{
    left: 80px;
    position: relative;
}
.r_5{
    left: 105px;
    position: relative;
}
.r_4{
    left: 125px;
    position: relative;
}
.r_3{
    left: 145px;
    position: relative;
}
.r_2{
    left: 165px;
    position: relative;
}
.r_1{
    left: 185px;
    position: relative;
}
.l_20{
    left: 90px;
    position: relative;
}
.l_19{
    left: 65px;
    position: relative;
}
.l_18{
    left: 35px;
    position: relative;
}
.l_17{
    left: 5px;
    position: relative;
}
.l_16{
    left: 0px;
    position: relative;
}
.l_15{
    left: 10px;
    position: relative;
}
.l_14{
    left: 30px;
    position: relative;
}
.l_13{
    left: 50px;
    position: relative;
}
.l_12{
    left: 70px;
    position: relative;
}
.l_11{
    left: 90px;
    position: relative;
}
.l_10{
    left: 70px;
    position: relative;
}
.l_9{
    left: 50px;
    position: relative;
}
.l_8{
    left: 30px;
    position: relative;
}
.l_7{
    left: 10px;
    position: relative;
}
.l_6{
    left: 0px;
    position: relative;
}
.l_5{
    left: 25px;
    position: relative;
}
.l_4{
    left: 35px;
    position: relative;
}
.l_3{
    left: 55px;
    position: relative;
}
.l_2{
    left:75px;
    position: relative;
}
.l_1{
    left: 95px;
    position: relative;
}
#finish{
    position: absolute;
    top: 0;
    display: none;
}
#finish .repeat_game{
    background:transparent url(theme/button_answeer.png) no-repeat scroll center center;
    text-decoration:blink;
    float:left;
    height:28px;
    line-height:2em;
    text-align:center;
    text-decoration:blink;
    width:120px;
    margin-left:0px;
    padding-top:5px;
}
#finish .exit_game{
    background:transparent url(theme/button_answeer.png) no-repeat scroll center center;
    text-decoration:blink;
    float:left;
    height:28px;
    line-height:2em;
    text-align:center;
    text-decoration:blink;
    width:120px;
    margin-left:50px;
    padding-top:5px;
}
.content_finish{
    background: none repeat scroll 0 0 black;
    color: red;
    display: none;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;    
}

.content_over{
    background: none repeat scroll 0 0 black;
    color: red;
    display: none;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}
.question_img{
    float: left;
}
.question_img input{
    width: 10px !important;
}/*
    Document   : fgc
    Created on : Jun 3, 2011, 10:30:07 AM
    Author     : AdminFGC
    Description:
        Purpose of the stylesheet follows.
*/
a, img{
    outline: medium none;
}
#fade {
    display: none;
    height: 100%;
    left: 0;
    background: #D9D9D9;
    opacity:0.9;
    filter:alpha(opacity:90);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.fade {
    display: none;
    height: 100%;
    left: 0;
    background: #D9D9D9;
    opacity:0.8;
    filter:alpha(opacity:80);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
#wrapper_question{
    border:1px solid #E5E5E5;
    min-height: 700px;
    margin:0;
    padding:20px 0 30px;
    position:relative;
    width:100%;
}
#wrapper_game{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}
#wrapper_question .content_question{
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    opacity:0.9;
    filter:alpha(opacity:90);
    width: 100%;
    height: 100%;
}
.content_game_type_question{
    /*        display: none;*/
}
.content_game_type_answer{
    display: none;
}
#wrapper_question .content_answer{
    display: none;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;
    opacity:0.9;
    filter:alpha(opacity:90);
    width: 100%;
    height: 100%;
}
#wrapper #left_lamp{
    width: 20%;
    float: left;
}
#wrapper #center{

    width: 58%;
    float: left;
}
#center #center_top{
    padding-bottom:20px;
    text-align:center;
    width:100%;
}
#center_body{
    border: 10px solid black;
    margin: 0 auto;
    width: 40%;
    padding: 40px;
    padding-bottom: 20px;
}
#center_body div{
    font-size:2em;
    font-weight:bold;
    margin:0 auto;
    padding-bottom:20px;
    width: 65%;
}
#form_answer div{
    width: 82%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-weight:bold;
}
#form_answer div input{
    width:140px;
}
#center #center_bottom{
    padding-top:40px;
    text-align:center;
}
#center_bottom img{
    border:medium none;
}
.key_top{
    background: url("theme/top.png") no-repeat center;
    height:34px;
}
.key_left{
    background: url("theme/left.png") no-repeat;
    float:left;
    height:34px;
    width:38px;
}
.key_center{
    background: url("theme/bottom.png") no-repeat;
    float:left;
    height:34px;
    width:38px;
}
.key_right{
    background: url("theme/right.png") no-repeat;
    float:left;
    height:34px;
    width:38px;
}
.title{
    float:left;
    margin-right:45px;
    text-align:right;
    width:110px;
}
#wrapper #right_lamp{
    width: 20%;
    float: right;
    text-decoration: blink;
    color: red;
}
#center_bottom_bottom{
    padding-left: 212px;
}
#wrapper #right_lamp a{
    background: url("theme/right.png") no-repeat;
    height:34px;
    width:38px;
    display:block;
}
#start_game{
    background:transparent url(theme/Button.png) no-repeat scroll center 0;
    font-size:20px;
    height:30px;
    margin-top:20px;
    text-align:center;
    text-decoration:blink;
}
.title_game{
    font-size:20px;
    font-weight:bold;
    padding-bottom:20px;
    text-align:center;
    width:100%;
}
.result{
    font-size:19px;
    margin:0 auto;
    padding-bottom:10px;
    text-align:center;
    width:100%;
}
#center #center_body{
    width: 70%;
}
.submit_answer{
    background: url(theme/Button.png) repeat scroll 0 0;
    border:medium none;
    height:28px;
    width:77px;
    margin-left:155px;
}
.logo_game {
    /*    background:transparent url(theme/logo_game.jpg) repeat scroll center center;
        border:medium none;
        height:118px;
        overflow:hidden;
        width:261px;
        border-width:1px;
        margin:5px 10px 15px 0;
        padding:3px;
        border-color:#000000;
        border-style:solid;*/
    padding-bottom:10px;
}
.logo_game img{
    /*    height:118px;*/
    overflow:hidden;
    width:405px;
    border-width:1px;
    /*    margin:5px 10px 15px 0;*/
    /*    padding:3px;*/
    border-color:#000000;
    border-style:solid;
}
#start_body{
    margin:0 auto;
    /*    width:50%;*/
    text-align: center;
}
#start_body span{
    font-size:1.7em;
}
.repeat_game{
    background:transparent url(theme/button_answeer.png) no-repeat scroll center center;
    text-decoration:blink;
    float:left;
    height:28px;
    line-height:2em;
    text-align:center;
    text-decoration:blink;
    width:120px;
    margin-left:320px;
    padding-top:5px;
}
.content_game_reasoning_question .repeat_game{
    background:transparent url(theme/button_answeer.png) no-repeat scroll center center;
    text-decoration:blink;
    float:left;
    height:28px;
    line-height:2em;
    text-align:center;
    text-decoration:blink;
    width:120px;
    margin-left:88px;
    padding-top:5px;
}
.exit_game{
    background:transparent url(theme/button_answeer.png) no-repeat scroll center center;
    text-decoration:blink;
    float:left;
    height:28px;
    line-height:2em;
    text-align:center;
    text-decoration:blink;
    width:120px;
    margin-left:50px;
    padding-top:5px;
}
.conent_game_report{
    margin:0 auto;
    text-align:justify;
    width:76%;
    font-size:1.3em;
}
.conent_game_task{
    margin:0 auto;
    text-align:justify;
    width:80%;
    font-size:1.3em;
}
.conent_game_report p{
    padding-bottom: 15px;
    color:black;
    line-height:140%;
}
.both_one{
    font-weight:bold;
    text-align:center;
    padding: 0 !important;
    color:black;
    font-size:1.1em;
}
.italic_one{
    font-style:italic;
    text-align:center;
}
.both_one_top{
    font-size:1.3em;
    font-weight:bold;
    text-align:center;
    padding-bottom: 10px !important;
    color:black;
}
.game_key{
    margin-left:40px;
}
/*****************Game 2******************/
#cal{
    background:url(theme/cal2.png) no-repeat scroll right 40px;
    float:right;
    height:495px;
    margin-top:30px;
    position:relative;
    width:500px;
}
#cal form{
    float:right;
    height:465px;
    position:relative;
    width:500px;
}
#tb_number {
    height:113px;
    left:270px;
    position:absolute;
    top:278px;
    width:81px;
}
#tb_number .btn{
    background: url(theme/bg_btn.png) no-repeat;
    color:white;
    cursor:pointer;
    float:left;
    font-size:11px;
    font-weight:bold;
    height:19px;
    margin-bottom:2px;
    margin-left:5px;
    padding-top:2px;
    text-align:center;
    width:20px;
}
#tb_letters{
    height:155px;
    left:344px;
    position:absolute;
    top:235px;
    width:155px;
}
#tb_letters .btn_letters{
    background: url(theme/bg_letters.png) no-repeat;
    color:white;
    cursor:pointer;
    float:left;
    font-size:8px;
    font-weight:bold;
    height:20px;
    margin-bottom:1px;
    margin-left:5px;
    padding-top:3px;
    text-align:center;
    width:21px;
}
.text{
    float:left;
    margin-left:95px;
    margin-top:-114px;
    width:95px;
}

#top{
    width: 100%;
    height: 100px;
}
#top .left{
    width: 100px;
    height: 100px;
    background: black;
    float: left;
}
#top .right{
    width: 100px;
    height: 100px;
    background: black;
    float: left;
}
#top .center{
    width:75%;
    height: 100px;
    background: #7F7F7F;
    float: left;
    margin: 0 10px 0 10px;
}
.tb_left_right{
    color: white;
    height:100px;
    width:100%;
    text-align: center;
    padding:3px;
}
.tb_left_right td{
    /*    background: white;*/
}
#left_side{
    background: #7F7F7F;
    width: 300px;
    height: 200px;
    float: left;
    margin-top:250px;
}
#left_side h3{
    margin-top:-20px;
    padding-bottom:10px;
    padding-left:20px;
}
#left_side .title1{
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-left:40px;
    margin-right:56px;
}
#left_side .row .text1 input{
    background: black;
    color:black;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    width:75px;
    float:right;
    margin-right:37px;
}
.row{
    margin-top:24px;
}
#button{
    margin-left:473px;
    margin-top:310px;
}
#next{
    background:  url(theme/btn_next.png);
    border:medium none;
    height:47px;
    left:30px;
    position:absolute;
    top:300px;
    width:74px;
}
.content_game_type_question .inner{
    left:0;
    padding:15px;
    position:absolute;
    top:0;
    width:97%;
}
#list input{
    text-align: center;
    color: white;
    background: black;
    font-weight: bold;
    margin-left:18px;
    float: left;
}
#list .title{
    float:left;
    text-align:right;
    width:55px;
    margin:0 0 0 10px;
}
#cal .info_cal{
    float:right;
    width:221px;
}
.pos_1 .pos_1{
    background: red;
}
.pos_2 .pos_2{
    background: red;
}
.pos_3 .pos_3{
    background: red;
}
.pos_4 .pos_4{
    background: red;
}
.pos_5 .pos_5{
    background: red;
}
.pos_6 .pos_6{
    background: red;
}
.pos_7 .pos_7{
    background: red;
}
.pos_8 .pos_8{
    background: red;
}
.pos_9 .pos_9{
    background: red;
}

#text{
    height:160px;
    margin-left:270px;
    width:103px;
    margin-top:39px;
    position:absolute;
}

#text1{
    width:95px;
}
#text2{
    width:95px;
}
#text3{
    width:95px;
}
#text4{
    width:95px;
}
#list{
    color:white;
    float:left;
    width:245px;
    font-weight: bold;
}
#list .list_1{
    cursor:pointer;
    padding:50px 0 0 0;
    float:left;
    width:245px;
}
#list div{
    height:30px;
}
#list .list_2{
    cursor:pointer;
    padding: 0;
    margin: 0;
    float:left;
    width:245px;
}
#list .list_3{
    cursor:pointer;
    padding: 0;
    margin: 0;
    float:left;
    width:245px;
}
#list .list_4{
    cursor:pointer;
    padding: 0;
    margin: 0;
    float:left;
    width:245px;
}
#top{
    width: 100%;
    height: 100px;
}
#list .list_2 .title{

}
#list .list_3 .title{
}
#list .list_4 .title{
}
.tb_left_right{
    color: white;
    height:100px;
    width:100%;
    text-align: center;
    padding:3px;
}
.tb_left_right td{
    /*    background: red;*/
}
#button_left{
    float:left;
    height:210px;
    width:20px;
    padding-left: 2px;
}
#button_left #list_btn1{
    padding-top: 71px;
    cursor:pointer;
}
#list_btn1{
    float: left;
    padding-top:2px;
}
#list_btn2{
    float: left;
    cursor:pointer;
}
#list_btn3{
    float: left;
    cursor:pointer;
}
#list_btn4{
    float: left;
    cursor:pointer;
}
#button_right{
    height:210px;
    width:25px;
    float: right;
}
#list_right_btn1{
    margin-left:30px;
    padding-top:4px;
    cursor:pointer;
    float: left;
}
#list_right_btn2{
    margin-left:30px;
    cursor:pointer;
    float: left;
}
#list_right_btn3{
    margin-left:30px;
    cursor:pointer;
    float: left;
}
#list_right_btn4{
    margin-left:30px;
    cursor:pointer;
    float: left;
}
#wrapper_top{
    float:left;
    height:211px;
    margin-left:255px;
    width:250px;
}
#fade {
    display: none;
    height:1300px;
    left: 0;
    background: #000000;
    opacity:0.8;
    filter:alpha(opacity:90);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.upload_lighbox_image{
    background: none repeat scroll 0 0 white;
    display: none;
    font-size: 1.2em;
    padding: 0px;
    position: absolute;
    z-index: 99999;
}
.result_round{
    padding-bottom:10px;
    padding-top:10px;
}
.minutes_seconds{
    font-size:16px;
    font-style:italic;
}
.st_st{
    padding-right: 5px;
}
/*game 3*/
#form_answer div .title_question{
    width:100%;
    padding: 0;
}
.question_answer > div{
    padding-bottom: 40px;
    overflow: hidden;
}
.question_answer div input {
    width:350px;
}
.submit_answer {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(theme/button_answeer.png) no-repeat scroll 0 0;
    border:medium none;
    height:43px;
    margin-left:130px;
    width:125px;
    outline: none;
}
.pre_next{
    margin:0 auto;
    overflow:hidden;
    padding-top:40px;
    width: 100%;
}
.pre_next .pre,
.pre_next .pre_math{
    float: left;
    cursor: pointer;
}
.pre_next .next,
.pre_next .next_math{
    float: right;
    padding-right:10px;
    cursor: pointer;
}
.pre_next .next_math input{
    background:white none repeat scroll 0 0;
    border:medium none;
    font-size:12px;
    font-weight:bold;
    color: gray;
    cursor: pointer;
}
.pre_next .pre a,
.pre_next .pre_math a,
.pre_next .next a,
.pre_next .next_math a{
    color: gray;
    font-weight: bold;
    cursor: pointer;
}
.content_game_math_answer{
    margin:0 auto;
    width:50%;
}
.content_game_math_question{
    margin:0 auto;
    width: 40%;
    padding-top:50px;
}
.content_game_reasoning_question{
    margin:0 auto;
    width: 50%;
    padding-top:30px;
}
.content_game_math_question .content_submit .repeat_game{
    margin-left: 60px;
}
#view_string_time {
    border:none;
    font-size:14pt;
    font-weight:bold;
    width:60px;
    color: black;
}
.timeout_game{
    margin: 0 auto;
    padding-bottom:40px;
    width: 25%;

}
.timeout_game_slalom{
    left: 124px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 250px;
}
#sec{
    color:gray;
    font-family:icon;
    font-size:16px;
    font-style:italic;
    padding-left:5px;
}
.discription_question{
    display: none;
}
.red{
    color:red;
    font-size:20px;
}
.title_game_math .numone{
    padding-right:5px;
}
.title_game_math .numtwo{
    padding-right:10px;
}
.title_game_math{
    color:gray;
    font-size:20px;
    padding-bottom:40px;
    text-align:center;
    width:100%;
}
.title_game_math input{
    border:medium none;
    font-size:25px;
    width:30px;
    font-weight: bold;
}
/*game 4*/
#game_slalom{
    width: 300px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#content_game_slalom{
    height: 300px;
}
.spuare{
    height: 70px;
}
#content_game_slalom > .inner_content_game{
    position: absolute;
    left: 0;
    position: relative;
    top: -16478px;
}
#game_aircraft{

}
.aircraft img{
    position: relative;
    left: 145px;
}
.r_20{
    left: 180px;
    position: relative;
}
.r_19{
    left: 155px;
    position: relative;
}
.r_18{
    left: 125px;
    position: relative;
}
.r_17{
    left: 95px;
    position: relative;
}
.r_16{
    left: 80px;
    position: relative;
}
.r_15{
    left: 100px;
    position: relative;
}
.r_14{
    left: 120px;
    position: relative;
}
.r_13{
    left: 140px;
    position: relative;
}
.r_12{
    left: 160px;
    position: relative;
}
.r_11{
    left: 180px;
    position: relative;
}
.r_10{
    left: 160px;
    position: relative;
}
.r_9{
    left: 140px;
    position: relative;
}
.r_8{
    left: 120px;
    position: relative;
}
.r_7{
    left: 100px;
    position: relative;
}
.r_6{
    left: 80px;
    position: relative;
}
.r_5{
    left: 105px;
    position: relative;
}
.r_4{
    left: 125px;
    position: relative;
}
.r_3{
    left: 145px;
    position: relative;
}
.r_2{
    left: 165px;
    position: relative;
}
.r_1{
    left: 185px;
    position: relative;
}
.l_20{
    left: 90px;
    position: relative;
}
.l_19{
    left: 65px;
    position: relative;
}
.l_18{
    left: 35px;
    position: relative;
}
.l_17{
    left: 5px;
    position: relative;
}
.l_16{
    left: 0px;
    position: relative;
}
.l_15{
    left: 10px;
    position: relative;
}
.l_14{
    left: 30px;
    position: relative;
}
.l_13{
    left: 50px;
    position: relative;
}
.l_12{
    left: 70px;
    position: relative;
}
.l_11{
    left: 90px;
    position: relative;
}
.l_10{
    left: 70px;
    position: relative;
}
.l_9{
    left: 50px;
    position: relative;
}
.l_8{
    left: 30px;
    position: relative;
}
.l_7{
    left: 10px;
    position: relative;
}
.l_6{
    left: 0px;
    position: relative;
}
.l_5{
    left: 25px;
    position: relative;
}
.l_4{
    left: 35px;
    position: relative;
}
.l_3{
    left: 55px;
    position: relative;
}
.l_2{
    left:75px;
    position: relative;
}
.l_1{
    left: 95px;
    position: relative;
}
#finish{
    position: absolute;
    top: 0;
    display: none;
}
#finish .repeat_game{
    background:transparent url(theme/button_answeer.png) no-repeat scroll center center;
    text-decoration:blink;
    float:left;
    height:28px;
    line-height:2em;
    text-align:center;
    text-decoration:blink;
    width:120px;
    margin-left:0px;
    padding-top:5px;
}
#finish .exit_game{
    background:transparent url(theme/button_answeer.png) no-repeat scroll center center;
    text-decoration:blink;
    float:left;
    height:28px;
    line-height:2em;
    text-align:center;
    text-decoration:blink;
    width:120px;
    margin-left:50px;
    padding-top:5px;
}
.content_finish{
    background: none repeat scroll 0 0 black;
    color: red;
    display: none;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}
.content_over{
    background: none repeat scroll 0 0 black;
    color: red;
    display: none;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
}
.question_img{
    float: left;
    padding-bottom: 20px;
    width: 48%;
    text-align: center;
}
.question_img input{
    width: 10px !important;
}
.content_question_reasoning{
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
    text-align: center;
    margin-top: 5px;
}
.content_question_reasoning div{
    padding-bottom: 10px;
}
.question_img.unfloar{
    clear: both;
}
.description_question{
    display: none;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.content_game_reasoning_question .submit_answer{
    margin-left: 155px;
}
.content_game_reasoning_question .title_question{
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding-left: 10px;
}
.question_img img{
    vertical-align: bottom;
}
.content_game_reasoning_question .pre_next{
    padding-top: 20px;
}
.content_game_reasoning_question .timeout_game{
    padding-bottom: 20px;
}
/*forgot change password*/
.fgc_password{
    border:5px solid #E2E2E2;
    padding:30px;
    width:51%;
    background: #F0F0F0;
}
form.change_password div{
    padding: 5px;
}
form.change_password div label{
    float: left;
    width: 170px;
    font-size: 18px;
}
.fgc_password .login_input{
    left:135px;
    padding-left:5px;
    padding-right:5px;
    position:relative;
    top: 5px;
}
#wrapper{
    overflow: hidden;
}
#main{
    overflow: hidden;
}
/*.left{
    width: 50%;
    float: left;
    margin-left: 70px;
}
.left img{
    width: 305px;
    height: 304px;
}
.right{
    float: right;
    margin-right: 70px;
}
.right img{
    width: 305px;
    height: 304px;
}
.bottom{
    float: left;
    width: 100%;
}
.bottom img{
    margin-left:365px;
    width: 200px;
    height: 200px;
}*/
.bottom .radio_question_game{
    border: 1px solid;
    float: right;
    font-weight: bold;
    height: 114px;
    padding-left: 5px;
    padding-top: 10px;
    width: 285px;
}
#content_top{
    min-height: 295px;
}
#content_top .left_img,
#content_top .right_img{
    width: 48%;
    float: left;
    text-align: center;
}
#content_top .left_img img,
#content_top .right_img img{
    /*    width: 200px;*/
    display: inline;
    max-width: 305px;
}
.content_game_pattern{
    margin: 0 auto;
    width: 80%;
}
.pre_next_pattern{
    clear: both;
    padding-top: 10px;
    text-align: center;
}
#content_bottom{
    overflow: hidden;
    width: 800px;
}
#content_bottom .timeout_game{
    padding: 0;
    text-align: center;  
    width: 200px;
}
#content_bottom .bottom_img{
    width: 300px;
    text-align: center;
}
#content_bottom .timeout_game,
#content_bottom .bottom_img,
#content_bottom .answer_game {
    float: left;
}
#content_bottom .bottom_img img{
    max-width: 200px;
    display: inline;
}
.content_game_pattern .repeat_game{
    margin-left: 225px;
}
.answer_game .radio_question_game{
    padding: 10px;
    border: 1px solid;
}
#content_bottom .timeout_game{
    padding-top: 70px;
}
#content_bottom .timeout_game .iew_string_time{
    padding: 10px;
}
.pre_next_pattern .pattern_next{
    border: 1px solid;
    background: none;
}
.text_time{
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
}
.choose_next{
    color: red;
    font-weight: bold;
    padding-left: 10px;
    display: none;
}
.game_task.pattern{
    text-align: center;
}
.game_task.pattern img{
    display: inline;
}
.content_game_hands{
    margin: 0 auto;
    width: 750px;
    padding: 5px 3px 10px 10px;
    background: none repeat scroll 0 0 #0080C1;
}
.content_game_hands #content_top .left_img,
.content_game_hands #content_top .center_img,
.content_game_hands #content_top .right_img{
    float: left;
    width: 250px;
    text-align: justify;
}
.content_game_hands #content_top img{
    width: 240px;
    height: 270px;
}
.content_game_hands #content_bottom{
    width: 740px;
}
.content_game_hands #content_bottom .timeout_game,
.content_game_hands #content_bottom .answer_game{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid black;
    padding: 10px;
    float: none;
    width: 200px;
    text-align: center;
    margin: 0 auto;
}
.content_game_hands #content_bottom span{
    text-decoration: none;
}
.content_game_hands #content_bottom span a{
    border: 1px solid black;
    padding: 5px 10px;
    font-weight: bold;
    color: black;
}
.answer_2, .answer_3{
    display: none;
}
.default{
    display: none;
}
div#view_string_time{
    height: 30px;
    width: 100%;
}
.content_hands .timeout_game{
    height: 60px;
}
.content_game_hands .answer_game{
    height: 55px;   
}
.game_hands_game{
    text-align: center;
}
.game_hands_game img{
    display: inline;
}
#loadImgRound{
    position: absolute;
    left: 1000px;
    top: 10000px;
}
/*------------------------------------------------question list-----------------------------------------------------------*/

#close {
    background: url("theme/math_practice.gif") no-repeat scroll 60px 5px transparent;
    cursor: pointer;
    height: 40px;
    width: 100%;
}
#open {
    background: url("theme/math_practice_left.gif") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 30px;
    left: 5px;
    position: relative;
    top: 10px;
    width: 30px;
}

#openbutton {
    background: url("theme/math_practice_bg.png") repeat-y scroll left top transparent;
    height: 15px;
    width: 100%;
}
#messagequestion {
    float: left;
    height: 100%;
    min-height: 500px;
    width: 40px;
}
#imagecontent {
    background: url("theme/math_practice_bar.png") no-repeat scroll left top transparent;
    height: 84px;
    width: 100%;
}

#barcontent {
    background: url("theme/math_practice_bg.png") repeat-y scroll left top transparent;
    width: 100%;
    min-height: 431px;
}
#messagecontent {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    float: right;
    height: 100%;
    min-height: 500px;
    overflow: auto;
    width: 100px;
}
#closebar {
    background: url("theme/practice_message_bar.png") repeat-x scroll left center transparent;
    border: medium none;
    height: 40px;
    width: 100%;
}

#close {
    background: url("theme/math_practice.gif") no-repeat scroll 60px 5px transparent;
    cursor: pointer;
    height: 40px;
    width: 100%;
}
#messagebar {
    float: left;
    height: 100%;
    min-height: 500px;
    width: 40px;
}
#questionlist {
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    height: 490px;
    min-height: 490px;
    overflow: auto;
}
#questionlist li {
    border-bottom: 0 none !important;
    float: left;
    list-style: none outside none;
    margin: 0 0.2em 1px 0;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}
#questionlist  li a {
    color: hsl(0, 0%, 20%);
    font-size: 12px;
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
    font-weight: bold;

}
#questionlist  li a:hover{
    text-decoration: underline;
}
#questionlist  li a.fgcanswer{
    border-bottom: 1px solid #e9e9e9;
}
#questionlist  li a.action{
    color: #AA2346;
}

#fgcloading {
    background: none repeat scroll 0 0 #EEEEEE;
    display: none;
    height: 100%;
    left: 142px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 85%;
    z-index: 0;
    filter: alpha(opacity = 50);
}

#fgcloading > img {
    left: 39%;
    position: relative;
    top: 30%;
    z-index: 9999999;
}
.result_inner {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    margin: 0 auto;
    width: 40%;
}
.result_title {
    /*    background: #F6B64C;*/
    /*    border: 1px solid #C89B51;
        border-radius: 5px 5px 5px 5px;*/
    margin: 2px;
    padding: 22px 0 !important;
    /*    background-image: linear-gradient(bottom, #F5AC37 30%, #F7B64E 19%);
        background-image: -o-linear-gradient(bottom, #F5AC37 30%, #F7B64E 19%);
        background-image: -moz-linear-gradient(bottom, #F5AC37 30%, #F7B64E 19%);
        background-image: -webkit-linear-gradient(bottom, #F5AC37 30%, #F7B64E 19%);
        background-image: -ms-linear-gradient(bottom, #F5AC37 30%, #F7B64E 19%);*/
    background: url("theme/title_new.png") no-repeat;
}
.result_inner.result_math_test .result_title{
    background: url("theme/title_new.gif") no-repeat;
}
.result_inner.result_math_test .result_title > span{
    text-shadow:0 1px 1px #eee;
    color: #FFFBCE;
}
.result_title > span {
    background: none repeat scroll 0 0 #FEA724;
    color: #FFFFFF;
    padding: 3px 5px;
    background-image:         linear-gradient( #FFA624 /*{b-bhover-background-start}*/, #FFA723 /*{b-bhover-background-end}*/);
}
.result_inner label{
    font-weight: normal;
    color: #635B5E;
}
.result_inner label span {
/*    color: #38332B;*/
    font-weight: bold;
}
.result_inner > div{
    padding: 5px 0;
}
.fgcresult_show {
    clear: both;
    display: none;
    float: none;
    margin-top: 20px;
    overflow: hidden;
    padding-top: 20px;
}
.fgcresult_left > span {
    font-weight: bold;
}
.fgcresult_left {
    float: left;
    min-height: 50px;
    width: 100px;
}
.fgcresult_right {
    float: left;
    width: 700px;
}
.fgcresult_show .inner {
    border-top: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 10px;
}
.fgcmath_test .content_game_math_question{
    width: 100%;
}
.fgcmath_test .content_game_math_question{
    width: 100%;
}
.fgcmath_test .fgcform_answer_math{
    width: 40%;
    margin: 0 auto;
}
.fgcmath_test .timeout_game{
    text-align: center;
}
.fgcmath_test .content_game_math_question .content_submit .repeat_game{
    margin-left: 320px;
}
.chool_radio {
    overflow: hidden;
    padding: 10px 0;
    text-align: center;
}
.chool_radio > div{
    float: left;
}
.fgccol1 {
    color: #409974;
    font-weight: bold;
    text-align: left;
    width: 190px;
}
.fgccol3{
    padding-left: 20px;
}
#wrapper_question{
    padding: 20px 0 50px;
}
.result_inner > div.result_show{
    padding-bottom: 15px;
}
.result_inner > div.result_show a{
    color: #000;
    text-decoration: underline;
}
.fgcresult_show .fgccontent_question{
    font-size: 14px;
    padding-bottom: 10px;
}
.line.text_bold {
    font-weight: bold;
    padding: 5px 0;
}
.line.text_bold > img {
    vertical-align: middle;
}
.line.text_color{
    color: #409974
}
#wrapper_question.fgctest_text{
    background: url("theme/math_practice_bg.png") repeat-y scroll left top transparent;
}
#wrapper_question.fgctest_text #messagequestion{
    position: relative;
    top: -20px;
}
.result_complate{
    color: #000;
}
.noquestion{
    color: #000000;
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
    text-decoration: blink;
    width: 100%;
}