*|* { margin:0pt; padding:0pt; }
 body { background: transparent url(theme/body_background.jpg?61354) repeat-x center top; background-color:#fff; font-family:arial, verdana, sans-serif; font-size:12px; color:#666666; margin:0; padding:0; }
 div.paragraph { line-height:170%; }
 p { line-height:170%; }
 h1 { font-size:30px; font-weight:bold; color:#333; line-height:1.5; margin: 0px 0px 10px 0px; }
 h2 { font-size:18px; font-weight:bold; color:#333; line-height:1.5; margin: 5px 0px 5px 0px; }
 #wrapper { width:100%; margin:0pt auto; }
 #main { position:relative; width:979px; margin:0pt auto; }
 #header { height:88px; }
 #sitename { color:#fff; padding-top:27px; font-size:26px; }
 #content-wrapper { float:left; background: transparent url(theme/content_background.jpg?61354) repeat-y right top; width:979px; }
 #content { background: transparent url(theme/content_top_background.jpg?61354) no-repeat right top; width:927px; padding:26px 26px 26px 26px; height:auto !important; min-height:600px; }
 #header-image { float:left; width:922px; height:261px; padding:3px; border:1px solid #e5e5e5; margin-bottom:6px; }
 .weebly_header { background: transparent url(theme/cust_headerImg.jpg?61354) no-repeat right top; width:920px; height:259px; margin-left:1px; margin-top:1px; }
 #navigation_wrapper { position:relative; float:left; height:36px; width:922px; _width:918px; padding:3px; border:1px solid #e5e5e5; position:relative; }
 #navigation { background-color:#f0f0f0; width:922px; _width:914px; height:36px; }
 #navigation ul { float:left; width:900px; _width:892px; padding:6px 10px 0 0; margin-left:20px; _margin-left:10px; }
 #navigation li { float:left; display:inline; font-family: arial, verdana, sans-serif; text-align:center; font-size:11px; font-weight:bold; padding:5px 40px 12px 0px; margin-top:0px; margin-right:3px; }
 #navigation a:link { color:#666666; font-size:12px; font-weight:bold; text-decoration:none; }
 #navigation a:visited { color:#666666; font-size:12px; font-weight:bold; text-decoration:none; }
 #navigation a:hover { color:#68961f; font-size:12px; font-weight:bold; text-decoration:none; }
 #active a:link { color:#68961f; text-decoration:none; }
 #active a:hover { color:#68961f; text-decoration:none; }
 #active a:visited { color:#68961f; text-decoration:none; }
 a:link,a:hover,a:visited { color:#68961f; font-weight:normal; text-decoration:none; }
 #content-main { float:left; width:925px; height:auto !important; min-height:400px; padding:15px 0px 35px 0px; }
 #footer { position:relative; float:left; background-color:#000; width:100%; height:104px; }
 #footer-image { background:transparent url(theme/content_btm_background.jpg?61354) no-repeat center top; margin:0pt auto; padding:7px 10px 0 0px; width:979px; height:28px; }
 #footer-contents { float:left; margin-top:25px; text-align:left; font-family:"lucida grande", "lucida sans", arial, sans-serif; color:#fff; padding:27px 10px 0 5px; _padding:27px 10px 0 25px; width:979px; height:40px; }
 #weebly-menus .weebly-menu-wrap { z-index: 5000; margin: 3px 0px 0px 0px; }
 #weebly-menus .weebly-menu { padding: 0; margin: 0; list-style: none; }
 #weebly-menus .weebly-menu li { float: left; clear: left; width: 170px; text-align: left; }
 #weebly-menus .weebly-menu li a { position: relative; display: block; width: 100%; background: #68961f; border-right: 1px solid #557b18; border-left: 1px solid #557b18; border-bottom: 1px solid #557b18; text-decoration: none; font-size: 11px; font-weight: normal; line-height:1; padding:3px; color: #fff; }
 #weebly-menus .weebly-menu li a:hover { background: #5f8a1c; }
 #weebly-menus span.weebly-menu-title { display: block; padding: 5px 10px; }
 #weebly-menus span.weebly-menu-more { background: transparent url(http://images.weebly.com/weebly/images/submenu_arrow.gif) no-repeat center top; display: block; position: absolute; right: 5px; top: 0; font-family: Courier; height: 28px; line-height: 28px; padding:1px 0 3px 0; }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
